<!DOCTYPE html>
<script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
<script src="./app.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
<link rel="stylesheet" href="./app.css">
<section class="section" id="board">
    <div class="container">
      <div class="columns">
        <div class="column status-1">
          <div class="tags has-addons">
            <span class="tag">未対応</span>
            <span class="tag is-dark">{{ tasksOpen.length }}</span>
          </div>
          <task-card v-bind:task="task" v-for="task in tasksOpen" v-bind:key="task.name"></task-card>
        </div>
        <div class="column status-2">
          <div class="tags has-addons">
            <span class="tag">処理中</span>
            <span class="tag is-dark">{{ tasksDoing.length }}</span>
          </div>
          <task-card v-bind:task="task" v-for="task in tasksDoing" v-bind:key="task.name"></task-card>
        </div>
        <div class="column status-3">
          <div class="tags has-addons">
            <span class="tag">完了</span>
            <span class="tag is-dark">{{ tasksClosed.length }}</span>
          </div>
          <task-card v-bind:task="task" v-for="task in tasksClosed" v-bind:key="task.name"></task-card>
        </div>
      </div>
    </div>
</section>